.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my_container {
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.load {
    background-color: #ffc632;
    width: 56%;
    height: 50%;
    color: black;
    border: none;
    border-radius: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.predict {
    width: 50%;
    height: 35%;
    background-color: black;
    color: white;
    margin-top: 2%;
    border: none;
    border-radius: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

input[type='file'] {
    display:none;
}

#upload-text {
    margin: auto;
}